div {
    /*background-color: #00a7d1;*/
    /*width: 100%;*/
    /*border: 25px solid green;*/
    /*height: 50px;*/
    /*float: right;*/
    /*display: block;*/
}

#top-menu a{
	display: block;
	float: left;
	color:  #ffffff;
	text-decoration: none;
}
.nav{
background-color: #00a7d1;
height: 50px;
width: 150px;
text-align: center;
line-height: 50px;
float: right;
}
.nav:hover,.nav:active
{
background-color:#4d6690;
}
.mvp{
background-color: #00a7d1;
color:  #ffffff;
height: 50px;
width: 300px;
text-align: center;
line-height: 50px;
float: left;
}

.fform{

height: 50px;
width: 500px;
/*text-align: center;*/
line-height: 50px;
float:left;
position: absolute;
left: 50%;
top: 50%;
margin-left: -300px;
margin-top: -200px;
}

.fform_bottum{
    background-color: #00a7d1;
    height: 50px;
    width: 150px;
    text-align: center;
    line-height: 50px;
    /*float: right;*/
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -100px;
    margin-top: 550px;
}
.fform_bottum:hover,.fform_bottum:active
{
background-color:#4d6690;
}

.text{
    width: 600px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
     margin-left: -400px;
    margin-top: 200px;
}
.iimg{
    width: 600px;
    height: 400px; absolute;
    left: 50%;
    position:
    top: 50%;
    margin-left: -400px;
    margin-top: -200px;
}
.tital{
    width: 600px;
    height: 400px;
    size: 1000px;
    color: #00a7d1;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -350px;
    margin-top: -300px;
}
.connet_fform_bottum{
    background-color: #00a7d1;
    height: 50px;
    width: 150px;
    text-align: center;
    line-height: 50px;
    /*float: right;*/
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: 350px;
}
.connet_fform_bottum:hover,.fform_bottum:active
{
background-color:#4d6690;
}
.massage_ways{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -300px;
    margin-top: 300px;
}