

div {
    background-color: #00a7d1;
    width: 100%;
    /*border: 25px solid green;*/
    height: 50px;
    float: right;
    display: block;
}

#top-menu a{
	display: block;
	float: left;
	color:  #ffffff;
	text-decoration: none;
}
.nav{
height: 50px;
width: 150px;
text-align: center;
line-height: 50px;
float: right;
}
.nav:hover,.nav:active
{
background-color:#7A991A;
}
.mvp{
color:  #ffffff;
height: 100px;
width: 300px;
text-align: center;
line-height: 50px;
float: left;
}
